<h1>CoachingController#answer</h1>
<p>Find me in app/views/coaching_controller/answer.html.erb</p>

<p>The question was: <%= @question %> </p>
<p>And the answer of he coach is: <%= @answer_to_display %> </p>
