<h1>CoachingController#home</h1>
<p>Find me in app/views/coaching_controller/home.html.erb</p>

<form action="/answer" method="get">
  <input type="text" name="question_type" placeholder="Ask your question">
  <input type="submit">
</form>
